*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, rgb(40, 56, 40), rgb(47, 47, 66));
}
.calculator-container{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5,80px);
    justify-content: center;
    margin: 40px;
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-weight: bold;
}
.output .current-operand{
    font-size: 35px;
    font-weight: bold;
}
.calculator-container > button{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.calculator-container > button:hover,
.calculator-container > button:focus{
    background-color: wheat;
}
